{% extends 'home/index.html.twig' %}

{% block body %}

	<div class="container projects-section">
		<div class="col mx-auto text-center">
            <div class="justify-content-center">
            	<h2  class="text-black text-justify">Hello!</h2>
            	<p class="text-black text-justify">
					My name is Edvin Smajic, I live in France (at least while this was written).<br>
					I've been interested by computers since my early childhood.<br>
					Diplomated from BTS Service Informatique aux Organisations option Solutions Logicielles et Applications Métiers,<br>
					I'm currently looking for a job (hit the <a href="" data-toggle="modal" data-target="#contact_modal">contact</a> button!).<br>
					Mostly working as a web dev. , I'm always eager to learn more, may it be about computers or anything else.<br>
					Also looking forward to increase my knowledge and experience in python and low level programming languages in the nearest future.<br>
				</p>
				<p class="text-black text-justify">
					I've created this site mostly to work on my habits and make them healthier.<br>
					I thought that this could be useful for other purpouses and to others aswell so that's why this site is on the internet.<br>
				</p>
				<p class="text-black text-justify">
					If you want to ask me anything or would like to <a href="" data-toggle="modal" data-target="#contact_modal">contact me</a> for any reason, I will be glad to answer.<br>
					<br>
					Cheers
				</p>
        	</div>
         </div>
	</div>	

{% endblock %}



